@font-face {
  font-family: carving-normal;
  src: url('./assets/fonts/carving-normal.otf');
}

body {
  padding: 0;
  margin: 0;
  font-family: carving-normal;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-columns {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
